{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",

    // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "plugin:@typescript-eslint/recommended",

    // Disable conflicting rules with prettier
    "prettier/@typescript-eslint",

    // Enables eslint-plugin-prettier and displays prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "camelcase": "error",
    "comma-dangle": ["error", "never"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "max-classes-per-file": ["error", 1],
    "no-console": "error",
    "no-shadow": "warn",
    "no-duplicate-imports": "error",
    "no-unused-expressions": "error", // disable for chai assertions
    "no-dupe-class-members": "off", // typescript signature overload
    "no-undef": "off", // typescript already check this
    "no-var": "error",
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": true
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "quote-props": ["error", "as-needed"],

    // typescript
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/array-type": ["error", { "default": "array-simple" }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": ["error", { "accessibility": "no-public" }],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/no-use-before-define": "off"
  }
}
