{
  "singleQuote": true,
  "printWidth": 140,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 100
      }
    }
  ]
}
